@font-face {
  font-family: "NINJAL変体仮名";
  src:
    url("ninjal_hentaigana.woff2") format("woff2");
}

body {
  writing-mode: vertical-rl;
  font-family: 'IPAmj明朝', 'NINJAL変体仮名', serif;
  font-size: 4vh;
}
