@font-face {
  font-family: "Noto Serif Hentaigana";
  src:
    url("NotoSerifHentaigana[wght].ttf") format("truetype");
}

body {
  writing-mode: vertical-rl;
  font-family: 'IPAmj明朝', 'Noto Serif Hentaigana', serif;
  font-size: 200%;"
}
